* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
#mockup {
    width: 321px;
    height: 337px;
    background-image: url(../assets/interface.17.png);
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgray;
    opacity: 0.5;
    position: absolute;
    z-index: 10;
  pointer-events: none;
}
.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 322px;
    height: 338px;
    padding: 13px;
    font-family: 'Poppins', sans-serif;

    h1{
        margin-block-start: -0.29em;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        font-size: 33pt;
        padding-bottom: 12px;
        border-bottom: 1px solid lightgrey;
    }
    .content {
        margin-bottom: 15px;
        padding-top: 0.6em;
        p {
            letter-spacing: -1px;
            padding-top: 0.7em;
            font-size: 12pt;
            font-weight: 500;
        }
    }
    .price {        color: #F37F25;
        font-size: 24pt;
    }
    .footer {
        border-top: 1px solid lightgrey;
        padding-top: 18px;
        font-weight: 500;
        letter-spacing: -1px;
        span {
            font-weight: bold;
        }
    }

}