* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* #mockup {
        width: 298px;
        height: 361px;
        background-image: url(/complex1/assets/complex.01.png);
        border-right: 1px solid darkgrey;
        border-bottom: 1px solid darkgray;
        opacity: 0.6;
        position: absolute;
        z-index: 10;
        pointer-events: none;
    }*/
}

body .container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 5px solid #e9e8e8;
  width: calc(298px - 10px);
  height: calc(361px - 10px);
}

body .container .img {
  width: auto;
  height: calc(361px - 10px - 145px);
  background-image: url("../assets/card bg.png");
  background-size: contain;
}

body .container .img .menubutton {
  margin: 0px 10px;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .img .menubutton .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12px;
  height: 12px;
  padding: 4px;
}

body .container .img .menubutton .hamburger .bar {
  background-color: white;
  height: 1px;
  width: 5px;
  margin: 0.5px 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .container .img .hamburger:hover .bar {
  -webkit-box-shadow: 1px 1px 4px white;
          box-shadow: 1px 1px 4px white;
  margin: 1px 2px;
  width: 6px;
}

body .content {
  margin-left: 19px;
  margin-top: 24px;
  margin-right: 19px;
  /* 
           too complex but usuable if more data would be present
           
           display: flex;
            flex-direction: row;
            justify-content: space-between;

            .date {
                display: flex;
                align-items: flex-end;
            }

            */
}

body .content h4 {
  font-size: 10pt;
  font-weight: 600;
  letter-spacing: -0.9px;
}

body .content .text {
  font-size: 10pt;
  font-weight: 500;
  margin-top: 18px;
  letter-spacing: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .content .text .date {
  letter-spacing: -0.4px;
}

body .content hr {
  margin-top: 22px;
}

body .footer,
body button {
  text-transform: uppercase;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 0;
  padding-left: 0;
  margin-left: 19px;
}

body .footer .left {
  margin-top: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .footer .left p {
  margin-left: 7px;
  font-size: 8pt;
  letter-spacing: -0.2px;
}

body .footer .left p span {
  font-weight: bold;
}

body .footer .left img {
  height: 27px;
  width: 27px;
  background-color: black;
  border-radius: 50%;
}

body .footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 3px 0 0;
}

body .footer .right button {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-size: 10px;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 1px 5px;
  margin-left: 1px;
}

body .footer .right .button1 {
  background-color: #8FD5D8;
  margin-right: 2px;
}

body .footer .right .button1:hover {
  background-color: #fff;
  border: 1px solid #8FD5D8;
  color: black;
  cursor: pointer;
}

body .footer .right .button2 {
  background-color: #9146F9;
  margin-right: 2px;
}

body .footer .right .button2:hover {
  background-color: #fff;
  color: black;
  border: 1px solid #9146F9;
  cursor: pointer;
}

body .footer .right .button3 {
  background-color: #FF3344;
}

body .footer .right .button3:hover {
  background-color: #fff;
  color: black;
  border: 1px solid #FF3344;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */